.sansBook {font-family: "freight-sans-pro", sans-serif; font-weight:300}
.sansMedium {font-family: "freight-sans-pro", sans-serif; font-weight: 500}
.sansSemi {font-family: "freight-sans-pro", sans-serif; font-weight:600}
.sansBold {font-family: "freight-sans-pro", sans-serif; font-weight:700}
.textBook {font-family: "freight-text-pro", serif; font-weight:400}
.textSemibold {font-family: "freight-text-pro", serif; font-weight:400}
.textBold {font-family: "freight-text-pro", serif; font-weight:700}

/* Swatches */
.productHolder {width: 99.9%; background-color: #ffffff}
.productImage {position: relative; width: 100%; float: left; padding-top: 124.933333333333%; overflow: hidden; cursor: pointer; border: none;background-color: #ffffff}
.productImageHolder {position: absolute; left:0; top:0; width: 100%;  border: none; background-color: #ffffff}
.productInfo {text-align: center; float: left; width: 100%; background-color: #ffffff}
.productTitle {font-size: 14px;margin: 20px 0 5px 0;text-transform: uppercase; font-family: 'HelveticaNeueLT-LightCond','pragmatica-web-condensed',arial,sans-serif}
.productPrice {font-size: 14px;margin: 0 0 5px 0;text-transform: uppercase; font-family: 'HelveticaNeueLT-LightCond','pragmatica-web-condensed',arial,sans-serif}
.productReviewStars {font-size: 14px}
.productSwatches {text-align: center; margin-top: 18px}
.productSwatch {width: 22px;height: 22px;display: inline-block; margin: 6px 3px 0px 3px; padding: 2px; border: 1px solid #cccccc; cursor: pointer}
.product-swatches .swatch {float:left}
.productSelected {border-color: #858585}
.product-swatches img{cursor:pointer;padding-bottom:22px;max-width:30px; padding-right:2px}
.swatch{min-width:36px}
.swatch-selected,.selected-swatch{background-image:url(//d1kh76s6bjh8ww.cloudfront.net/img/icon-arrow-accordion-up-retina.png);background-size:30px 30px;background-repeat:no-repeat;background-position:bottom center;}
.outOfStock {padding-top: 10px}

.topNavSale {color:#db2424}


/*Swatches Tom Dev */
.category-product-items .product{margin-bottom: 188px}

.textRight {text-align: right}

.helvMedium {font-family: 'HelveticaNeueLT-MediumCond', 'pragmatica-web-condensed', arial, sans-serif}
.helvLight {font-family: 'HelveticaNeueLT-LightCond', 'pragmatica-web-condensed', arial, sans-serif}

.textCenter {text-align: center}
#basket-upsell, #mini-basket-upsell {display: none}

.saleBannerTitle {font-size: 44px; text-transform: uppercase; width: 100%; padding-top:9%; color: #ffffff !important; font-family: 'HelveticaNeueLT-MediumCond, pragmatica-web-condensed, arial, sans-serif';letter-spacing: 3px}
.saleBannerSubTitle {font-size: 32px;  color: #ffffff !important; font-family: 'HelveticaNeueLT-LightCond, pragmatica-web-condensed, arial, sans-serif'; padding-top:3%; letter-spacing: 3px}           
.saleBanner { width:100%; background: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1080/AW16_PreCollection_Homepage_2_60pc.jpg'); background-size:100% 100%; height: 210px; display: block; margin: 10px 0;text-align: center; font-family: 'HelveticaNeueLT-LightCond','pragmatica-web-condensed',arial,sans-serif !important; 
}
.category-header-description { background-color: #f5f5f5}
.category-product-items .product {    height: 390px}

.primaryLandingTile h1{ color: white; font-size: 28px; padding-bottom: 10px; margin-bottom: 0; margin-top: 30px; letter-spacing: 3px }
.primaryLandingTile p { text-transform: uppercase; color: white; font-size: 18px; padding-bottom: 50px; margin-bottom: 0px;  margin-top: 10px;letter-spacing: 2px}
.topBanner {position: relative; background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1080/AW16_PreCollection_HH_1a.jpg'); background-size: 100% 100%; background-repeat: no-repeat; top: 0; left: 0;right: 0;  bottom: 0; text-align: center;  display: block; content: ""; width: 100%; padding-top: 62.87%;margin-bottom: 10px}
.topBanner h1 {width: 100%; position: absolute; bottom: 80px; margin-top: 28%; color: white}
.topBanner p {width: 100%; position: absolute; bottom: 0px; color: white}

.t_Tooltip {display:none !important}

.leftPadding-0 {padding-left: 0px!important}
.rightPadding-0 {padding-right: 0px!important}

.tileTitle {position: absolute; top:77%; width: 100%; text-align: center; color: #ffffff }
.tileTitle .mainTitle {width: 100%;  font-size: 24px; float: left; letter-spacing: 3px}
.tileTitle .subTitle {width: 100%;  text-transform: uppercase; padding-top: 12px; float: left; font-size: 16px; letter-spacing: 2px}

.LBtileTitle {position: absolute; top:72%; width: 100%; text-align: center; color: #ffffff }
.LBtileTitle .mainTitle {width: 100%;  font-size: 28px; float: left; letter-spacing: 3px}
.LBtileTitle .subTitle {width: 100%;  text-transform: uppercase; padding-top: 12px; float: left; font-size: 16px; letter-spacing: 2px}

.portraitTile {width: 100%; display: block; width: 100%;padding-top: 128%;  margin-bottom: 20px; background-size: 100% 100%; position: relative}

.houseAndHomeTile {width: 100%; display: block; width: 100%;padding-top: 121%;  margin-bottom: 20px; background-size: 100% 100%; position: relative}

/* Range page */
.products-in-range { text-align: center; } 
.products-in-range .range-product {	float: none; display: inline-block; }

/* Womens landing tiles */
.wl_1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_OAS_Women_6.jpg')}
.wl_1 .sansBook{font-size:16px;padding-top: 12px;letter-spacing: 2px}
.wl_2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Women_1.jpg')}
.wl_3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Women_3.jpg')}
.wl_4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Women_2.jpg')}
.wl_5{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Women_4.jpg')}
.wl_6{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_MidWinterSale_Landing_Women_New.jpg')}
.wl_7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Women_6.jpg')}
.wl_7 .mainTitle{font-size: 20px} 
.wl_5 .saleLink{line-height:60px;}
.wl_6 .shopTxt{text-transform: uppercase;font-size: 18px;line-height: 60px;letter-spacing: 2px}
.wl_6 .tileTitle{top: 70%;}
.wl_6 saleSpan{font-size: 18px;line-height: 60px;letter-spacing: 2px;display: block;padding-bottom: 16px;}
.wl_6 saleLink{letter-spacing: 2px;font-size: 16px;padding-bottom: 5px;}
.wl_5 .shopTxt .pcBtn{line-height: 70px;}
/* Lookbook landing tiles */
.lb_1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/730/Lookbook_autumn.jpg')}
.lb_2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/730/Lookbook_pre.jpg')}
.lb_3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/730/TOAST_EarlyAutumn_HH_Lookbook_1.jpg')}
.lb_4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/lookbook/950/TOAST_LateAutumn_Lookbook_3.jpg')}
.lb_5{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/lookbook/950/TOAST_LateAutumn_Lookbook_HH_1.jpg')}
.lb_6{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_OAS_Women_1.jpg')}
.lb_7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/lookbook/950/TOAST_Winter_Lookbook_1.jpg')}
.lb_8{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/lookbook/950/TOAST_Christmas_Women_1.jpg')}
.lb_9{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/lookbook/950/TOAST_PreCollection_Lookbook_4.jpg')}
.lb_1 .mainTitle, .lb_2 .mainTitle, .lb_3 .mainTitle, .lb_4 .mainTitle ,.lb_5 .mainTitle,.lb_6 .mainTitle,.lb_7 .mainTitle,.lb_8 .mainTitle,.lb_9 .mainTitle {font-size: 22px}

/*accessories landing page*/
.eacontainer{margin-top:0px;text-align: center}
.lkpgcontainer {text-align: center; margin-top: 50px}
.lkpgcontainer h1, .eacontainer h1{margin-top:30px; font-size: 28px}
.lkpgcontainer h2, .eacontainer h2{font-size: 20px}
.lkpgcontainer p, .eacontainer p{font-size: 16px;letter-spacing: 1px}
.look{font-size: 16px; font-weight:600;letter-spacing: 1px}
.lkpgLTb20{margin-bottom: 20px}
.lkpgRow{padding-top: 50px}
.lkpgLtdesc{font-size: 16px; letter-spacing: 1px}
.lkpgLthead{font-weight: 400;font-size: 20px;letter-spacing: 2px; margin-top: 5%}
.lkpgTextTile{margin-top: 25%}
.lkpgLtt80{font-size: 16px; margin-top: 80%; letter-spacing: 1px}
.lkpgLtt60{font-size: 16px; margin-top: 60%; letter-spacing: 1px}
.lkpgTopHeader{margin-top: 60px}
.lkpgTopHeadertxt{font-size:40px !important}
.customRow5pc{margin-top: 5%}
.customRow7pc{margin-top: 7%}
.customRow90{margin-top: 90px}
.customPara40{margin-top: 40px; margin-bottom: 40px}
.customRow3pc{margin-top:40px}
.customRow50{margin-top:50px}
.customRow60pc{margin-top: 60%}
.lkpgFonts h2{font-size:20px}
.lkpgFonts p{font-size: 16px}
.underline {text-decoration: underline}

/*making of landing page*/
.molpTileTitle{left: 10%; right:10%; width: 80%}
.molpSubTitle{font-size: 16px; letter-spacing: 2px;text-transform:none}
.molp_1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1080/TOAST_MakingOfKhadiLanding.jpg');margin-bottom: 20px}
.molp_2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/WEB_MakingOf_Landing_2.jpg')}
.molp_3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/WEB_MakingOf_Landing_3.jpg')}
.molp_4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_MakingOfCheaney_Landing_New.jpg')}
.molp_5{width: 100%; display: block; width: 100%;margin-bottom: 20px; background-size: 100% 100%; position: relative;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_MakingOf_Landing_bd1.jpg');padding-top: 62.96661%}
.landingBSIntro{text-align: center;margin: 30px 0}
.landingBSIntro h1 {font-size: 26px;font-family: "freight-text-pro", serif;font-weight: 600}
.landingBSIntro h2 { font-size: 18px; font-family: "freight-text-pro", serif;font-weight: 400; margin-top: 16px;letter-spacing: 1px}
.landingBSIntro p {font-size: 18px;font-family: "freight-text-pro", serif;letter-spacing: 1px}
.landingBS p {font-size: 16px; font-family: "freight-text-pro", serif; letter-spacing: 1px}

.landingBSIntro p.newProductDescription{font-size: 16px; line-height: 24px}
.landingBSIntro a.newProductLBLink{text-align: center;position: relative; top: 15px;font-size: 14px;letter-spacing: 1px;border-bottom: 1px solid #000000;padding-bottom: 5px;text-transform: uppercase}

/*Khadi specific*/
.greyButton {float: right; padding: 5px; margin:0; background-color: #e9e9e9; border: none}
.bottom20 {margin-bottom: 20px}
.khadiContentPad {margin: 20px 20px 46px 20px}
.khadiCTA {text-align: center; text-transform: uppercase; margin-bottom: 20px}
.shopKhadi {width: 100%; background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/400/MakingOf_Khadi_4.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px }
.shopTI{width: 100%;background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/350/WEB_MakingOf_Indigo.jpg;'); padding-top: 121.484375%;position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px}
.shopIkat{width: 100%; background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/ss16/1200/TOAST_Ikat_Category.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px }
.quarterWidthPanelText {width: 100%; text-align: center; font-size: 18px; position: absolute; bottom: 10%; letter-spacing: 2px; font-size: 26px; display: block}
.toastMagazineQuarter {width: 100%; background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/400/MakingOf_Khadi_5.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block }

/*homepage*/
.tileTitleMid {color: white;position: absolute;top: 31%;width: 100%;text-align: center;font-size: 28px;line-height: 45px; letter-spacing: 2px}
.hlTopTile {width: 100%; display: block; width: 100%; padding-top: 62.947%;  margin-bottom: 20px; background-size: 100% 100%; position: relative}
.hlTile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/ss17/1200/GrandWinterSale_phase3_Homepage.jpg');padding-top: 62.916%}
.hlTile2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Homepage_2.jpg');padding-top: 121.120%}
.hlTile3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingHH_1.jpg');padding-top: 121.120%}
.hlTile4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_Web_WinterRefresh_Homepage_4.jpg');padding-top: 121.120%}
.hlTile5{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_MidWinterSale_Homepage_New.jpg');padding-top: 121%}
.hlTile7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_Homepage_3.jpg');padding-top: 121%}

/*2017 new hp styles*/

/*Old pre Grand Winter Sale magazine tile.hlTile7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_Christmas_Homepage_5.jpg');padding-top: 121%}*/
.hlTile7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_Homepage_3.jpg');padding-top: 121%}

/*.hlTile7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_WorksoftheHeart_a.jpg');padding-top: 121%}*/


.hlTile6{background-color: #e9e9e9;color:black}
.hlTopTile .tileTitle {top: 45%}
.hlOasTxt {font-size: 38px; margin-bottom: 10px;  width: 100%}
.hlOasEveryday {font-size: 26px; margin-bottom: 40px; width: 100%; letter-spacing: 2px}
.hlTile1 .shopTxt {text-transform: uppercase; font-size: 18px; color: white; text-decoration: none; margin: 33px 20px; border-bottom: 1px solid #ffffff;line-height: 28px; display: inline-block}    
.hlTile1 h1{margin-bottom: 2.5%;}
.signuptile {text-align: center}
.signuptile p {color: black;width: 100%;top: 0px}
.signuptile button {margin-top: 8%;border-width: 0px;font-size: 16px;color: black;letter-spacing:1px;font-family: 'freight-sans-pro', sans-serif;background: transparent}
.centerTileTitle {position: absolute;width: 100%;top: 16%;left: 0px;text-align: center;min-height: 200px}
.centerTileTitle p{width: 100%;text-align: center;font-size: 18px;letter-spacing: 1px}
.centerTileTitle input{padding: 0px;text-align:center;border-width: 0px}
.centerTileTitle h2{padding-top: 8%;font-size:16px;letter-spacing: 1px;font-family: 'freight-sans-pro', sans-serif}
.landscapeTile{display: block;width: 100%;padding-top: 58.46748%;margin-bottom: 10px;background-size: 100% 100%;position: relative}
.linkContainer{width:100%;margin-top:7%}
.linkContainer a {text-decoration: underline}
.subTitleBorderLeft, .subTitleBorderRight {padding: 10px 0;margin: 30px 10px;font-size: 20px;letter-spacing: 2px; color:#ffffff; min-width: 150px; display: block}
.subTitleBorderLeft {float: right; text-align: left}
.subTitleBorderRight {float: left; text-align: right}
.borderLinkHolder {width: 100%}
.borderLinkHolder a {color: #ffffff;font-size: 18px;letter-spacing: 3px}
.homeTitle { font-size: 38px; letter-spacing: 2px;margin-bottom: 2%}
.homeSubTitle {font-size: 26px; letter-spacing: 3px}
.saleTitle{top: 34%;text-transform: uppercase;font-size: 24px;letter-spacing: 2px}

/*house and home landing page*/
.hhlTile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_Christmas_HouseandHome_1.jpg');padding-top: 62.966%; margin-bottom: 20px}
.hhlTile2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_HouseandHome_2.jpg'); margin-bottom: 20px}
.hhlTile2 .sansBook{font-size:16px;padding-top: 16px;letter-spacing: 2px}
.hhlTile3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_HouseandHome_3.jpg'); margin-bottom: 20px}
.hhlTile3 .sansBook{font-size:16px;padding-top: 16px;letter-spacing: 2px}
.hhlTile4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_HouseandHome_4.jpg'); margin-bottom: 20px}
.hhTopTile {width: 100%; display: block; width: 100%; padding-top: 62.966%;  margin-bottom: 20px; background-size: 100% 100%; position: relative}
.hhlTile1 .tileTitle {top: 62%;line-height: 45px}
.hhlTile1 .shopTxt, .hlTile1 .shopTxt {font-size: 18px;letter-spacing: 1px; border-bottom: 1px solid #ffffff}
.hhlTile1 .shopTxt{text-transform: uppercase;font-size: 18px}
.hhShop {margin-bottom: 5%}
.hhlTile1 .tileTitle .mainTitle:first-child{font-size:26px;margin-bottom: 15px}
.hhlTile4 .tileTitle{top:76%}

/*calm space */
.calmSpaceRow3 {margin:40px 0 90px 0}
.calmSpaceRow4 {margin-top: 70%}
.mo-20 {margin-bottom: 0}

/*miscellaneous*/
.accordion-a section .content {padding: 0}
.you-may-also-like .sale { color: red; text-decoration: line-through; padding-right: 10px}
.shopTxt {font-size: 16px;letter-spacing: 2px}
.tileTitle .landingTileTxt {font-size:24px; letter-spacing: 2px}
.mtop-10{margin-top:10%}
.dLeftMcenter{text-align: left}
.mtop30m0{margin-top: 30%}
.top43sm33m23{top: 43%}
.left-0{left: 0px}
.lkpgLtt75{margin-top:75%}
.oasTopTile{margin-top:5%}
.oasTopTile .midTitle{font-size: 36px;letter-spacing: 2px}
.oasTopTile .shopTxt{margin-top: 72px; line-height: 25px}
.mTop20{margin-top: 20px}
.dtClear{clear:both;margin-top: 20px}
.clearBoth{clear: both}


/*MUST KEEP - Making of styles*/
.khadiCTA {text-align: center; text-transform: uppercase; margin-bottom: 20px}
.wnlShopBTN{letter-spacing: 1px;text-decoration: underline;font-size: 22px;letter-spacing: 2px;text-align: center;margin-top: 60px;margin-bottom:60px}

/*secret sale over */
.ssEnded{position:relative;background-size: 100%;background-repeat:no-repeat;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_SecretSale_2_New.jpg'); padding-top:62.91%}
.secretSaleBannerText {position: absolute; width: 100%; text-align: center; top:35%}
.secretSaleBanner h2 {font-size: 50px; letter-spacing: 2px; color:#ffffff}
.secretSaleBanner h3 {font-size: 28px; margin-top: 10px; font-weight: 100; letter-spacing: 2px; color:#ffffff}
.secretSaleCTA {position: absolute; width: 100%; text-align: center; bottom: 15%}
.secretSaleCTAText {border-bottom: 1px solid #ffffff; padding-bottom: 3px; text-transform: uppercase; font-size: 18px; letter-spacing: 2px; color:#ffffff}
.secretSaleCTAText {color:#ffffff}

/*summer sale over */
.summerSaleEnded{position:relative;background-size: 100%;background-repeat:no-repeat;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1211/TOAST_WEB_SaleEnded_1.jpg'); padding-top:62.892561%}

/* Footer style */
.footerMessage {padding-top: 10px;float: left;width: 100%; text-align: center}
.footerColHolder { padding-top: 20px}

.marketingMessage {background-color: #dfdfdf; color: #000; width: 100%; padding:8px; text-transform: uppercase; font-family: 'HelveticaNeueLT-LightCond','pragmatica-web-condensed',arial,sans-serif; letter-spacing: 1px; text-align: center}

.saleTitleLrg {text-transform: uppercase;top:39%;font-size: 24px;letter-spacing: 2px}

/*Pinterest Competition*/
.pinToWin .mainTitle{font-size: 20px}

/*Sitemap*/
.sitemapTitle {letter-spacing: 1px; text-transform: uppercase;border-bottom: 3px solid #909090;font-size: 26px;padding-top: 30px;margin-bottom: 30px} 
.smTileTitle {font-size: 22px;font-weight: 300}
.sitemapSub {text-transform: uppercase;border-bottom: 1px solid #909090;font-size: 22px;margin-bottom: 30px}
.sitemapSSub {margin-top: 30px;font-weight: 100;font-size: 22px;text-transform: uppercase;border-bottom: 1px solid #909090;margin-bottom: 30px}
.sitemapSecondaryTitle {font-weight: 400;font-size: 16px;display: block;text-transform: uppercase;margin-bottom: 20px}
.sitemapClear {margin-top: 30px}
.smRow ul li a {line-height: 24px;font-size: 16px;}
.smhalfCol{padding-left: 0px!important;}

/* Footer */
.bootstrapFooter h3 {font-weight: 300; font-size: 22px; text-transform: uppercase}
.footerList li {padding-bottom: 13px; letter-spacing: 1px; font-size: 12px}
.footerSocialIcons li {display: inline-block; padding-right: 5px}
.footerSocialIcons ul {margin:0 0 20px -10px}

/*About Us*/
.aboutUsBanner{width: 100%; margin-top:10px; padding-top: 38.82807469414%; background-image: url('http://d117fiyhpld8f9.cloudfront.net/content-images/AW16/1200/TOAST_WEB_AboutUs_1.jpg'); background-size: 100% 100%; position: relative}
.aboutUsBanner .tileTitleMid {line-height: 54px; letter-spacing: 2px;top: 35%; font-size: 36px}
.aboutUsBannerText {width: 50%; margin: 0 auto}
.aboutUsBanner p {font-size: 16px; margin-top: 20px; display: block; line-height: 22px}
.aboutUsText {font-size: 17px; text-align: center; margin-top: 60px; float: left; line-height: 26px}
.aboutUsDeliveryText {font-size: 16px; text-align: center; margin-top: 40px; background-color: #e9e9e9; padding: 20px 20px 0 20px; width: 94%; margin: 0 3%; display: block; line-height: 12px; float: left}
.aboutUsLinks {margin: 30px 0 30px 0; text-transform: uppercase; font-size: 14px; letter-spacing: 1px; }
.aboutUsLinks a {border-bottom: 1px solid #000000; padding-bottom: 5px}
.aboutUsImageCol {width: 44%; margin: 0 3%; float: left; margin-top: 40px}
.aboutUsImageColFull {width: 94%; margin: 6% 3%; float: left}
.aboutUsFooterText {margin-top: 30px; margin-bottom: 60px; font-size: 17px; text-align: center; float: left; line-height: 26px}

/*making of cheaney*/
.shopCS { width: 100%; background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_MakingOfCheaney_5.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px }
.cheaneyM30 { margin: 30px 0px}
.cheaneyTop30 { margin-top: 30px}

/*brickett davda*/
.shopBD{width: 100%; background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_MakingOfBrickettDavda_4.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px}
.davdaTop30{margin-top: 30px}
.makingOfTextPad{padding: 0px 20px}

/*Work with us*/
.wwuTile{border-bottom: 2px solid black;letter-spacing: 2px;text-align: center;font-weight: 600;margin-bottom: 60px}
.wwuImageTile{margin-top: 20px;margin-bottom: 10px}
.cText{text-align: center; font-size: 17px;line-height: 26px;margin-top: 10px}
.cText .aboutUsLinks{    border-bottom: 1px solid #000000;padding-bottom: 5px}
.jobTile{text-align: center;background-color: #e9e9e9;min-height: 200px !important}
.jdThreeLine h2{ margin-top: 7%}
.jdTwoLine h2{margin-top: 11%}
.workWithUs{position:relative;background-size: 100%;background-repeat:no-repeat;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_WorkWithUs_1.jpg'); padding-top:38.892561%;margin-top: 10px}
.wwuTitle{color: white;position: absolute;top: 44%;width: 100%;text-align: center;font-size: 38px;line-height: 45px; letter-spacing: 2px}
.workWithUs2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_WorkWithUs_2.jpg');padding: 20%;background-size: 100% 100%}
.mBottom10{margin-bottom: 20px}
.jobInfo h2{font-size: 18px; letter-spacing: 1px}
.jobInfo a{text-decoration: none;color: #000;border-bottom: 1px solid black;text-transform: uppercase;letter-spacing: 1px;font-size: 14px}
.office{font-size:18px;text-transform: uppercase; margin: 20px;margin-top: 30px;display: inline-block}
.readMore{margin: 10px;text-align: center}
.jobInfo .jobRole{font-family: "freight-sans-pro", sans-serif;font-size: 16px}
.linkCols{margin-top: 20px;margin-bottom: 40px}

/* Press book */
.unslider {overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:absolute; left: 20px;top: 40% ; z-index:2;cursor:pointer; background: url(https://d117fiyhpld8f9.cloudfront.net/content-images/pressbook/1000/TOAST_Arrows.png);width: 17px; height: 25px; display: block; background-size:  35px 25px}
.unslider-arrow.next {position: absolute; top: 40%; left: 100% ; z-index: 10; background: url(https://d117fiyhpld8f9.cloudfront.net/content-images/pressbook/1000/TOAST_Arrows.png); width: 17px; height: 25px; display: block; background-size:  35px 25px; background-position: 17px 0; margin-left: -40px}
.unslider-nav {display: none}
.pb_openingTile {background: url(https://d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_Winter_Women_1.jpg); display: block; width: 100%; padding-top: 128%; margin-bottom: 20px; background-size: 100% 100%; position: relative; color:#ffffff}
.pb_openingTileText {position: absolute; width: 100%; text-align: center; top:40%; font-size: 26px; letter-spacing: 2px; margin-bottom: 20px}
.pb_openingTile h1 {font-size: 26px; letter-spacing: 3px; margin-bottom: 10px}
.pb_openingTileLink {font-size: 16px; letter-spacing: 1px; padding-bottom: 3px; border-bottom: 1px solid #ffffff; color:#ffffff; text-transform: uppercase; }
.pb_openingText {text-align: center; width: 100%; font-size: 16px; margin: 20px 0; line-height: 24px}
.pb_Lightbox {background-color:rgba(0, 0, 0, 0.6); position: absolute; top:0; left:0; height: 500px; width: 100%; z-index: 10; display: none}
.pb_Lightbox input {height: auto; min-width: auto; position: relative; top: 0px}
.pb_passwordBox {position: absolute; top: 200px; left:0; width: 100%; text-align: center; padding:10px}
.pb_passwordWhiteBox {margin: 0 auto; max-width: 500px; width: 100%; height: 230px; background-color: #ffffff; padding: 10px 10px 50px 10px}
.pb_termsWhiteBox {margin: 0 auto; max-width: 700px; width: 100%; background-color: #ffffff; padding: 10px 10px 50px 10px}
.pb_termsSmallBoxText {width: 70%; margin: 0 auto}
.pb_hiddenHTML {display: none}
.pb_passwordBoxText {width: 100%; margin: 0 0 20px 0; font-size: 16px; letter-spacing: 1px}
.pb_passwordBox input[type=password] {width: 70%; padding: 8px}
.pb_passwordSubmit {font-size: 16px; letter-spacing: 1px }
.pb_submitClose {text-align: right; margin-bottom: 15px; width: 100%; height: 30px}
.pb_submitClose img {float: right}
.pb_submitFeedback {height: 20px; margin: 10px 0; width: 100%; color:  #dd4b39}
.pb_title {width: 100%; font-size: 36px}
.pb_sub, .pb_subRight {margin: 40px 0 15px 0; letter-spacing: 2px}
.pb_subRight {text-align: right}
.pb_mainContent h1 {font-size: 22px; letter-spacing: 2px; margin-bottom: 30px}
.pb_mainContent h2 {font-size: 16px; letter-spacing: 1px}
.pb_imageRepeater {position: relative; margin-bottom: 20px}
.pb_productClose {text-align: right; margin-bottom: 15px; width: 50%; height: 30px; float: right}
.pb_productClose img {float: right}
.pb_productIntroText {width: 50%; height: 30px; margin-bottom: 15px; font-size: 14px}
.pb_HoverHolder {position: absolute; width: 100%; background-color:rgba(0, 0, 0, 0.6); top: 0; left:0; z-index: 1; display: none}
.pb_imageHover {position: absolute; width: 100%; padding-top:150.032195750161%; background-color:rgba(0, 0, 0, 0.6);  top: 0; left:0; z-index: 2; display: none}
.pb_interactArea {position: absolute; width: 100%; padding-top:150.032195750161%; background-color:rgba(0, 0, 0, 0.6);  top: 0; left:0; z-index: 5; }
.pb_imageHoverContent {position: absolute; width: 100%; color: #ffffff; text-align: center; font-size: 100px; top:0; left:0; z-index: 2; font-size: 14px; height: 100%}
.pb_lookNumber {padding-top: 50%; font-size: 18px}
.pb_viewLook, .pb_viewLink {padding-top: 5%; font-size: 14px}
.pb_viewLook {text-transform: uppercase}
.pb_imageHoverContent a {padding-top: 5%; color: #ffffff; text-decoration: underline}
.pb_productHolder {background-color: #ffffff; float: left; margin: 60px 0; width: 100%; padding-bottom: 10px}
.pb_productTitle {font-size: 12px; letter-spacing: 1px}
.pb_productPriceCode {font-size: 12px; letter-spacing: 1px; margin: 3px 0}
.pb_productColour {font-size: 12px; letter-spacing: 1px}
.pb_imageSlider {position: relative}
.pb_productInfo {padding: 10px; font-size: 16px}
.pb_productRepeater {margin: 10px 0}
.pb_topTitle {width: 1005px; text-align: center; font-size: 26px; margin:30px 0; letter-spacing: 1px}
.pb_productID {font-size: 18px}
.pb_smallTile { width: 12.5%; float:left}
.pb_videoSubText {width: 100%; text-align: center; position: absolute; margin-top: 30%; font-size: 16px; letter-spacing: 1px}
.pb_videoHolder {width: 100%; position: relative; background-color: #ffffff;  height: 180px; display: block; background: url(https://d117fiyhpld8f9.cloudfront.net/content-images/pressbook/1500/grass.jpg); background-size: 100% 100%; overflow: hidden}
.pb_videoText {width: 100%; position: absolute; top:0; left:0; z-index: 2; text-align: center}
.pb_videoTextPlacer { margin-top: 25%; font-size: 26px;letter-spacing: 1px;position: absolute;width: 100%}
.backgroundVideo {width: 100%; position: absolute;; top:0; left:0; z-index: 1}
.pb_productTerms li, .pb_termsSmallBoxText li {margin: 10px 0; font-style: italic}
.pb_productTerms {font-size: 14px}
.pb_agreeTerms, .pb_termsWhiteBox {font-size: 14px}
.pb_checkBox {top:8px; position: relative}
.pb_termsTarget button { background-color: #ffffff; color: #000000; border: none; border: none; padding: 10px}
.pb_termsTarget button[disabled=disabled], button:disabled { background-color: #ffffff; color: #bebebe; border: none; border: none; padding: 10px}
.pb_productTerms {display: none}
.pb_downloadImage {position: relative; top:4px; margin: 0 4px 0 0}
.pressBookContent h1 {font-size: 24px}
.pb_downloadButtonWide {color: #969696; border: none; border: none; padding: 0 0 5px 0; width: 100%; font-size: 16px }
.pb_downloadButtonWide:hover {color: #000000; border-bottom: 1px solid #000000}
.pb_downloadRow {margin:30px 0 0 0}

/*signup styles*/
input#ctl00_globalMainContent_chkReceiveThirdPartyCatalogs{ display: none }
label[for="chkReceiveThirdPartyCatalogs"]{ display: none }

/*Archive Sale page */
.archiveContainer{text-align: center;margin-bottom: 50px}
.archive{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_SampleSale.jpg'); padding-top: 38.828%;margin-bottom: 65px;margin-top: 10px}
.archive h1{left: 0px;font-size: 36px; color: white;position: absolute;display: block;width: 100%;letter-spacing: 1px;top: 40%}

.archiveSub{left: 0px;color: white;font-size: 26px;letter-spacing: 1px;position: absolute; width: 100%; top: 50%}
.archiveBody h2{font-size:20px; text-align: center; font-size: 20px; letter-spacing: 1px}
.archiveBody p{font-size: 16px;letter-spacing: 1px}
.archiveBody p.archiveUpper{font-size: 20px;letter-spacing: 1px}
.archiveBottom{font-size: 16px; letter-spacing: 1px; padding-top: 20px;margin-bottom: 65px}
.archiveLower{padding-top: 20px}

/*Works of the heart t's and c's page*/
.tsncs{margin-top: 40px; font-size: 26px; font-weight: 500}
.tsncs h1{font-weight: 600;letter-spacing: 1px}      
.tsncs h2{font-size: 20px; font-weight: 500}
.tsncs p{font-size: 16px}

/*christmas landing page*/
.giftTitle{font-family: "Freight-text-pro";font-weight: 600;font-size: 18px;letter-spacing: 1px}
.giftLink{border-bottom: 1px solid black;font-size: 14px;letter-spacing: 1px;text-transform: uppercase;margin-top: 50px;display: inline-block}
.giftTileText{position: absolute;top: 33%;text-align: center;width: 100%;left: 0px}
.giftTileText p{line-height: 22px;font-weight: 400;margin-bottom: 60px}
.giftTile{background-color: #e9e9e9; padding-top: 75.4668%;display:block}

/*christmas gift page*/
.cg_1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_ChristmasGiftGuide_1.jpg');padding-top: 121%}
.cg_1 .sansBook{font-size:16px;padding-top: 12px;letter-spacing: 2px}
.cg_2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_2.jpg');padding-top: 121%}
.cg_3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_3.jpg');padding-top: 121%}
.cg_4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_4.jpg');padding-top: 121%}
.cg_5{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_5.jpg');padding-top: 121%}
.cg_6{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_6.jpg');padding-top: 121%}
.cg_7{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_7.jpg');padding-top: 58.467%}
.cg_8{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasGiftGuide_8.jpg');padding-top: 58.467%}
.tlpHeading{letter-spacing: 1px}
.tlpHeading{text-align: center;margin: 30px 0}
.tlpHeading h1 {font-size: 26px;font-family: "freight-text-pro", serif;font-weight: 600;letter-spacing: 1px}

/*christmas gift guide page*/
.cgg_1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_ChristmasLanding_1.jpg');padding-top: 121%}
.cgg_1 .sansBook{font-size:16px;padding-top: 12px;letter-spacing: 2px}
.cgg_2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasLanding_2.jpg');padding-top: 121%}
.cgg_3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasLanding_3.jpg');padding-top: 121%}
.cgg_4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasLanding_4.jpg');padding-top: 121%}
.cgg_5{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_ChristmasLanding_5.jpg');padding-top: 44.430%}
.cggTileText{font-family: "freight-text-pro", serif;font-weight: 400;font-size: 16px;letter-spacing: 1px;padding-top: 30px}
.cggTileHeader{letter-spacing: 1px; font-weight: 600}

/*Competition social channel buttons */
.competition_facebook, .competition_twitter, .competition_pintrest {width: 33%; float: left; text-align: center}
.competition_pintrest {margin-top: 5px}
.socialShares {margin-bottom: 20px; display: none; text-align: center}
.socialShares p {margin:20px 0}

/*Store events page*/
.pSpacerTnB{margin:30px 0px}
.smallPrint{letter-spacing: 1px;font-family: "freight-sans-pro", sans-serif}

/*error*/
.error {border: 1px solid #ff2929  !important}
.left-draw .nav-wrapper .sale a:hover {color: #ff2929}
.left-draw .nav-wrapper .sale a {color: #ff2929}

/*Advent
div.adventTile.tileTitle {top: 65%}
div.adventTile.tileTitle .mainTitle{letter-spacing: 2px}
.littleWinterAdventTile{padding-bottom: 10px}*/

/* Little Winter build - Homepage */
.littleWinterTopTile{margin-top: 16%}
.lwsTile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Women_1.jpg');padding-top: 121.120%}
.lwsTile2{background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_ChristmasRefresh_Homepage_2.jpg');padding-top: 121.120%}
.lwsTile3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/AW16070_WEB_MidWinterSale_Homepage_3.jpg');padding-top: 121.120%}
.littleWinterShopTxt{font-size: 18px;border-bottom: 1px solid white;line-height: 25px;text-transform: uppercase}
.littleWinterMidTitle{padding-bottom: 126px}      
.lwsTile3 span{font-size: 18px;letter-spacing: 2px}
.littleWinterTile.tileTitle {top: 62%;font-size: 24px;letter-spacing: 2px;margin-bottom: 20px}
.littleWinterTile.tileTitle h2{margin-bottom: 20px}
.littleWinterTile.tileTitle span{font-size: 16px}

/*Little Winter build - Womens*/
.lwsWtile3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_ChristmasLanding_1.jpg'); padding-top: 128%}
.lwsWtile1 h2{padding-bottom: 20px}
.lwsWtile1 span{font-size: 16px; letter-spacing: 2px}

/*Little Winter build - House and Home*/
.lwsHHtile1 div.tileTitle, .lwsHHtile2 div.tileTitle{top: 62%}
.lwsHHtile1 div.tileTitle h2, .lwsHHtile2 div.tileTitle h2{padding-bottom: 20px}
.lwsHHtile1 div.tileTitle span{font-size: 16px; letter-spacing: 2px;border-bottom: 1px solid white;padding-bottom:0px;font-family: 'Freight-sans-pro'}
.lwsHHtile2 div.tileTitle span{font-size: 16px; letter-spacing: 2px}

/*Little Winter build - Sale*/
.lwsStile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_ChristmasLanding_1.jpg')}
div.lwsStile1.littleWinterSaleBanner{padding-top: 38.828%; background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase3_SaleBanner.jpg');}
.littleWinterSaleBanner h1.mainTitle{font-size: 32px}
.lwsStile1 .oasTopTile.littleWinterSaleBannerTile{margin-top: 0px}
.saleTile{text-align: center;margin-bottom: 40px}
.saleTile span{text-transform: uppercase;letter-spacing: 1px; font-size: 14px;font-weight: 500; text-align: center; border-bottom: 1px solid black; padding-bottom: 2px}
.saleTile img{margin-bottom: 30px}
.littleWinterSaleSub{letter-spacing: 2px;font-size: 22px;padding-top: 0px;margin-bottom: 40px}
.shopTxt.littleWinterBannerTxt{margin-top: 34px;color:white;border-bottom:1px solid white;padding-bottom: 2px;text-transform: uppercase;margin-left:20px;margin-right: 20px}

/* Sale price */
li.main-link.sale a {color:#db2424}

/*GWS Homepage */
.gwshlTile1 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase2_Homepage.jpg');padding-top: 62.916%}
.gwsBtn {color: white; border-bottom: 1px solid white;text-transform: uppercase;padding-bottom: 5px;margin: 40px 20px 0px 20px}
span.mainTitle.textSemibold.gwsSub {text-align: center; margin-bottom: 60px;margin-top: 40px; display: block}
.gwshlTile2 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_WinterSale_Homepage_3.jpg');padding-top: 121.120%}
.gwsTile {text-align: center; margin-bottom: 40px}
span.shopTxt.gwsBtn {margin-top: 40px}

/*GWS Women*/
.gwsWtile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase2_Landing.jpg');padding-top: 128%}
.lwsWtile3 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_ChristmasLanding_1.jpg'); padding-top: 128%}
.gwsWtile2 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_WinterSale_WomenLanding_2.jpg');padding-top: 128%}
.lwsWtitle.tileTitle{top: 62%}
.lwsWtile1 h2 {padding-bottom: 20px}

/*GWS HnH*/
.gwsHHtile1 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_MidWinterSale_Homepage_New.jpg')}
.gwsHHtile2 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase2_Landing.jpg');padding-top: 128%}
.gwsHHtile3 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_WinterSale_HomeLanding_2.jpg')}
.gwsHHtile4 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_MidWinterSale_Landing_HouseandHome_New.jpg')}
.gwsHHtile5 {background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/950/TOAST_WinterSale_HomeLanding_4.jpg'); padding-top: 128%}
.gwsHHtile1 .landingTileTxt, .gwsHHtile2 .landingTileTxt{font-size: 24px}

/*GWS Sale*/
.saleSpan {display: block; margin-bottom: 40px}
.saleLink {text-align: center;border-bottom: 1px solid white; margin-top: 20px}

/*GWS Sale HnH*/
.lwsStile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/TOAST_ChristmasLanding_1.jpg')}
.saleTile{text-align: center;margin-bottom: 40px}
.saleTile span{text-transform: uppercase;letter-spacing: 1px; font-size: 14px;font-weight: 500; text-align: center; border-bottom: 1px solid black; padding-bottom: 2px}
.saleTile img{margin-bottom: 30px}
.littleWinterSaleSub{letter-spacing: 2px;font-size: 22px;padding-top: 0px;margin-bottom: 40px}
.shopTxt.littleWinterBannerTxt{margin-top: 34px;color:white;border-bottom:1px solid white;padding-bottom: 2px;text-transform: uppercase;margin-left:20px;margin-right: 20px}

/*Pre Collection*/
.pcHpTile1{padding-top: 114.488%;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_Wilder_Homepage_1New.jpg');}
.tileTitleTop {color: white;position: absolute;top: 37.6%;width: 100%;text-align: center;font-size: 28px;line-height: 45px; letter-spacing: 2px}
.pcBtn {color: white; border-bottom: 1px solid white;text-transform: uppercase;padding-bottom: 5px;margin: 40px 20px 0px 20px}
span.shopTxt.pcBtn {margin-top: 40px}
.pcTile{padding-bottom: 30px;}
.pcHpTile2{padding-top: 38.828%;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase3_SaleBanner.jpg');margin-bottom: 20px;}
.stdSaleTile{padding-top: 38.828%;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase3_SaleBanner.jpg');margin-bottom: 20px;}
.pcHpTile2 .tileTitleMid{top:27%;}
.stdSaleTile .tileTitleMid{top:27%;}
.pcHpTile2 h1{margin-bottom: 20px;}
.stdSaleTile h1{margin-bottom: 20px;}
.pcWLtile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingWomen_1.jpg');}
.pcWLtile2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingWomen_2.jpg');}
.pcWLtile3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingWomen_3.jpg');}
.pcWLtile4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingWomen_4.jpg');}
.pcHHtile1{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingHH_1.jpg');}
.pcHHtile2{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/GrandWinterSale_phase3_Landing.jpg');}
.pcHHtile3{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingHH_3.jpg');}
.pcHHtile4{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingHH_4.jpg');}
.pcHHtile5{background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_PreCollection_LandingHH_1.jpg');}
.pcHpTile2 .tileTitleMid p{margin-bottom: 0px;}
.stdSaleTile .tileTitleMid p{margin-bottom: 0px;}
.pcHpTile2 .tileTitleMid span{top: -20px; position: relative; font-size: 18px;}
.stdSaleTile .tileTitleMid span{top: -20px; position: relative; font-size: 18px;}

/*newstuff*/
.apcHpTile2 .tileTitleMid p{margin-bottom: 0px;}
.astdSaleTile .tileTitleMid p{margin-bottom: 0px;}
.apcHpTile2 .tileTitleMid span{top: -20px; position: relative; font-size: 18px;}
.astdSaleTile .tileTitleMid span{top: -20px; position: relative; font-size: 18px;}
@media only screen and (max-width: 1024px) 
{
    /*Swatches Tom Dev*/
    .category-product-items .product{margin-bottom: 5%}
   
	/* press book */
	.pb_videoTextPlacer {margin-top: 22%}
    .pb_smallTile { width: 50%; float:left}

    /*Homepage*/
    .hlTile1 .shopTxt{font-size: 14px}	
	.category-product-items .product {height: 470px}  
	.primaryLandingTile h1 {font: 24px}
	.primaryLandingTile p {font: 12px} 

	/* accesories landing page */
	.look{text-align:center}
	.lkpgLthead{margin-top: 0%; text-align: center}
	.lkpgTextTile{margin-top: 10%;text-align: center}
	.lkpgLtt80{margin-top: 10%}
    .lkpgLtt60{margin-top: 10%}
    .lkpgLtt75{margin-top: 10%}
    .lkpgLT20{margin-bottom: 20px}
    .dLeftMcenter{text-align: center}
    .mtop30m0{margin-top: 0px}
    .mobSpacer{margin-bottom:20px}
    .top43sm33m23{top:33%}
    .lkpgTextTile, .lkpgLthead{margin-top: 5%}
    .lkpgRow{padding-top:0px}

    /*soft colours page*/
    .eaTile1{margin-bottom:0px}
    .eaSpacer{margin-top: 0px}

    /*custom styles*/
	.customRow5pc{margin-top: 0%}
    .eaRow4{margin-top:0%}
	.eaTile4{margin-top: 20px;margin-bottom: 0px}
    .mmb-20{margin-bottom:0px}
    .mmt-20{margin-top: 0px}
    .mbMob20 {margin-bottom: 20px}
    .lkpgLtdesc{text-align: center}
	.m20{margin-bottom: 20px} 
    
    /* Womens landing holy variety tile */
    .wl_7 .mainTitle{font-size: 18px}
    .customCatTextHolderLandscape {background-color: #f5f5f5; width: 100%; position: relative; margin-top: 20px; padding-bottom: 40px}
    .customCatTextLandscape {padding:55px; text-align: center; position: relative; width: 100%; height: auto}

     /* Secret Sale Holding */
    .secretSaleBanner h2 {font-size: 30px}
	.secretSaleBanner h3 {font-size: 18px; margin-top: 10px; font-weight: 100}
	.secretSaleBannerText {position: absolute; width: 100%; text-align: center; top:30%}
	.secretSaleCTAText {border-bottom: 1px solid white; padding-bottom: 3px; text-transform: uppercase; font-size: 22px}
    
    /*Sitemap*/
    .sitemapSecondaryClear{margin-top:30px}
    
    /*Mid Autumn Sale*/
    .mAsaleBanner .tileTitleMid{line-height: 54px; top: 18%; font-size: 36px}
    .mAsaleBanner .bottomTileText{font-size: 24px; margin-top: 16px}
    
    /*miscellaneous*/
    .dtClear{margin-top: 0px}

	/*making of*/
    .bottom20m{margin-bottom: 0px}
    .bottom20mb{margin-bottom: 20px}
    .mTop20{margin-top: 0px}
    
    /*About Us*/
	.aboutUsBannerText {width: 70%; margin: 0 auto}
    
    /*Brickett Davda*/
    .davdaTop30{margin-top: 0px}
    /*Work with us*/
    .workWithUs{padding-top: 25%; margin-top: 10px}
    .jdThreeLine h2{margin-top: 5%}
    .jdTwoLine h2{margin-top: 8%}
    
    /*christmas landing page*/
    .giftTileText p{margin-bottom: 20px}
    
    /*christmas gift guide page*/
    .cgg_5 .tileTitle{top: 60%}
    
    /*Advent page*/
    .ac_boxHolder{padding-top: 95%;top: 3%;background-image: url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/1200/TOAST_AdventCompetition_1B.jpg')}
    .ac_dayBox{width: 28.25%}
    .doorContainer{top: 8%}
     
    /*Little Winter Sale - Homepage*/
    .littleWinterMidTitle{font-size: 36px;letter-spacing: 2px}
     
    /*Little Winter Sale - Sale */
    .littleWinterSaleSub{margin-top: 20px}
    .shopTxt.littleWinterBannerTxt{margin-top: 0px}
    
    /*Grand Winter Sale*/
    /*GWS Homepage*/
    .tileTitleMid.oasTopTile.gwsTile{margin-top: 0px}
    
    /*GWS Sale*/
    .littleWinterSaleSub{margin-top: 5px; margin-bottom: 10px;}
    .shopTxt.littleWinterBannerTxt{margin-top: 0px}
    .littleWinterSaleBannerTile .tileTitleMid{top: 20%;}    
}
@media only screen and (max-width: 768px) 
{
    
    /*Swatches Tom Dev*/
    .category-product-items .product{margin-bottom: 10%}

	/* press book */
	.pb_sub, .pb_subRight {text-align: center;margin: 20px 0; }
        
    /*making of landing page*/
    .molpTileTitle{top:70%}
    .molp_2{margin-bottom: 20px}

    .subTitleBorderLeft, .subTitleBorderRight {padding:0;margin: 0;font-size: 16px;letter-spacing: 2px; color:#ffffff; display: block}
    .subTitleBorderLeft {float: none; margin-bottom: 10px; text-align: center}
	.subTitleBorderRight {float: none; text-align: center; }
	.borderLinkHolder {width: 80%; margin: 0 auto}
	.linkContainer {margin-top: 4%}
    .top43sm33m23{top: 23%}
    .eaTile4mob{margin-top:40px; margin-bottom: 20px}
    .lkpgTextTile {margin-top: 0}
    .lkpgLthead {margin-top: 20px}

    .hhlTile1 .tileTitle .mainTitle:first-child{font-size:20px;margin-bottom: 5px}
    
     /*Homepage*/
    .saleTitle{top: 40%}
    
     /*Mid Autumn Sale*/
	.mAsaleBanner .tileTitleMid{line-height: 41px; top: 11%; font-size: 32px}
	.mAsaleBanner .bottomTileText{font-size: 20px; margin-top: 10px}
	
	/*making of pages*/
    .shopIkat{width: 100%;background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/ss16/758/TOAST_Ikat_Category.jpg;'); padding-top: 121.484375%;position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px}
    .shopTI{width: 100%;background-image:url('//d117fiyhpld8f9.cloudfront.net/content-images/aw16/768/WEB_MakingOf_Indigo.jpg;'); padding-top: 121.484375%;position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px}
    
    /*Miscellaneous*/
    .oasTopTile {margin-top: 0%}

    /*Sitemap*/
    .smMobPad{top: 20px}
    /*About Us*/
	.aboutUsBanner .tileTitleMid {top: 20%;  font-size: 28px}
	.aboutUsBannerText {width: 90%; margin: 0 auto}
	.aboutUsLink {margin-bottom: 20px}
       
    /*making of cheaney*/
    .cheaneyM30 {margin: 0px 0px}
    .cheaneyTop30 {margin-top: 0px}
    .cheaneyCbottom30 {margin-bottom: 30px}

    /*Work with us*/
    .jobTile{width: 100%;margin: 10px 0px}
    .jdThreeLine h2{margin-top: 3%}
    .jdTwoLine h2{margin-top: 6%}
    .workWithUs{padding-top: 35%}
    .wwuTitle{font-size: 30px}

    .pb_downloadRow {margin:30px 0 40px 0}
    
    /*Archive Sale*/
    .archive h1{top: 35%;font-size: 30px}
    .archiveSub{top: 55%;font-size: 20px}
    
    /*christmas landing page*/
    .giftTile{margin-bottom: 20px}
    .giftLink{margin-top: 20px}
      
    /*Little Winter Sale - Homepage*/
    .littleWinterShopTile{margin-top: 0%}
    .littleWinterShopTxt{font-size: 14px}
    
    /*Little Winter Sale - Sale */
    
    .littleWinterSaleBanner h1.mainTitle{font-size: 20px}
    .littleWinterSaleBanner .tileTitleMid{top: 30%}
    .shopTxt.littleWinterBannerTxt{font-size: 14px}
    .littleWinterSaleSub{margin: 0px; padding: 0px;font-size: 14px;letter-spacing: 1px}
    
    /*Grand Winter Sale*/
    /*GWS Homepage*/
    .gwsTile a{display: block;font-size: 14px}
    .mainTitle.textSemibold.landingTileTxt.midtitle.gwsTitle{font-size: 20px}
    span.mainTitle.textSemibold.gwsSub{margin-bottom: 0px;margin-top: 10px;font-size: 16px}
    .gwsTile {text-align: center; margin-bottom: 40px}
    span.shopTxt.gwsBtn{margin-top: 40px}
    .gwshlTile1 .tileTitleMid.oasTopTile.gwsTile{top: 20%;}
    
    /*GWS Sale*/
    .littleWinterSaleBanner h1.mainTitle{font-size: 20px; line-height: 24px;}
    .littleWinterSaleBanner .tileTitleMid{top: 10%}
    .shopTxt.littleWinterBannerTxt{font-size: 14px}
    .littleWinterSaleSub{margin: 0px; padding: 0px;font-size: 14px;letter-spacing: 1px}
    .littleWinterSaleSub .gwsSaleSub{top: 4%;}
    div.tileTitleMid.oasTopTile.otherGWS.littleWinterSaleBannerTile{top: 35%;}
    
    /*Pre Collection*/
    .pcHpTile1 a{display:block;margin-bottom: 20px;}
    .pcHpTile1 a span{font-size: 14px;}
    .pcHpTile1 h1{font-size:22px;}
    .pcHpTile1 .tileTitleTop{top:57%;}
    .pcHpTile2 .tileTitleMid{top:20%;}
    .pcHpTile2 h1{margin-bottom:0px;font-size: 26px;}
    .pcHpTile2 .tileTitleMid p{margin-top: 0px; font-size: 22px;}
    .pcHpTile2 .tileTitleMid span{top: -40px; font-size: 16px;}
    .stdSaleTile .tileTitleMid{top:20%;}
    .stdSaleTile h1{margin-bottom:0px;font-size: 26px;}
    .stdSaleTile .tileTitleMid p{margin-top: 0px; font-size: 22px;}
    .stdSaleTile .tileTitleMid span{top: -40px; font-size: 16px;}
    .hlTile1 .tileTitleTop{top: 56.6%;font-size: 22px;}
    .hlTile1 a{display: block;margin: 20px;}
    .hlTile1 .shopTxt{margin: 0px;}
    /*MUST KEEP - Making of styles*/
    .wnlShopBTN {margin-top: 0px}
}

@media only screen and (max-width: 767px) 
{
	.category-product-items .product {height: 510px} 
            
    /*making of*/
     .bottom20m {margin-bottom: 20px}
}

@media only screen and (max-width: 700px) 
{
	.category-product-items .product {height: 450px}  
	.tileTitle .mainTitle {font-size: 18px}
	.tileTitle .subTitle  {font-size: 14px; padding-top: 6px}
    .saleBannerTitle {padding-top: 8%; font-size: 38px}
    .saleBannerSubTitle {font-size: 18px;padding-top:2%}
    .hhlTile1 .tileTitle {top:57%} /*original 30%*/
    .smTileTitle {font-size: 18px}
    .sitemapSub .smTileTitle{font-size: 22px}
    .sitemapSSub .smTileTitle{font-size:22px}

     /* Secret Sale Holding */
    .secretSaleBanner h2 {font-size: 20px}
	.secretSaleBanner h3 {font-size: 16px; margin-top: 10px; font-weight: 100}
    .secretSaleBannerText {position: absolute; width: 100%; text-align: center; top:30%}
    .secretSaleCTAText {border-bottom: 1px solid white; padding-bottom: 3px; text-transform: uppercase; font-size: 14px}
    .secretSaleCTA {position: absolute; width: 100%; text-align: center; bottom: 10%}

    /*homepage */
     .hlTopTile .tileTitle {top: 15%}
}
    
@media only screen and (max-width: 530px) 
{
    
    /*Swatches Tom Dev*/
    .category-product-items .product{margin-bottom: 20%;}
 	.category-product-items .product {height: 350px}   
 	/*.landscapeTile { padding-top:78%}*/
    
    .customCatTextLandscape {padding: 15px}

    /* secret sale banner */
 	.saleBannerTitle {padding-top: 5%; font-size: 20px; letter-spacing: 2px}
 	.saleBannerSubTitle {font-size: 16px; padding-top: 1%}
 	.secretSaleBannerText {position: absolute; width: 100%; text-align: center; top:30%}

 	/*homepage */
    .hlTopTile .tileTitle .hlOasTxt{margin-bottom: 15px; font-size: 28px}
    .hlTopTile .tileTitle {top: 10%}
    
    /*Mid Autumn Sale*/
	.mAsaleBanner .tileTitleMid{line-height: 26px; top: 4%; font-size: 22px}
	.mAsaleBanner .bottomTileText{font-size: 16px; margin-top: 0px}
    
    /*Miscellaneous*/
    .oasTopTile{font-size: 22px;line-height:36px}
    .oasTopTile .midTitle {font-size: 18px}
    .oasTopTile .shopTxt{line-height: 24px}

    /*About Us*/
	.aboutUsBanner .tileTitleMid {top:0;  font-size: 24px}
	.aboutUsBanner p {font-size: 14px;margin-top: 0px; line-height: 18px}
	.aboutUsLink {margin-bottom: 20px}
    
    /*archive sale page*/
    .archive h1{top: 25%;font-size: 24px}
    .archiveSub{top: 50%;font-size: 16px}
    
    /*Little Winter Sale - Homepage*/
    .littleWinterShopTile{font-size: 22px;line-height: 36px}
    .littleWinterMidTitle{font-size: 20px; padding-bottom: 85px;padding-bottom: 55px}
    .littleWinterShopTxt{line-height: 24px; font-size: 14px}

    /*Grand Winter Sale*/
    /*GWS Homepage*/
    .tileTitleMid.oasTopTile.gwsTile{top: 12%}
    span.shopTxt.gwsBtn{margin-top: 10px;font-size: 14px}
    div.tileTitleMid.oasTopTile.otherGWS.littleWinterSaleBannerTile{top: 25%;}
    
    /*Pre Collection*/
    .pcHpTile2 .tileTitleMid{top: 10%;margin-top: 0px;}
    .stdSaleTile .tileTitleMid{top: 10%;margin-top: 0px;}
    
    /*updated 2017 cleanup*/
    .wl_6 h2{font-size: 22px;}
}


@media only screen and (max-width: 430px) 
{
    
    /*Swatches Tom Dev*/
    .category-product-items .product{margin-bottom: 30%}
	/* Press book */
	.pb_videoTextPlacer {margin-top: 15%}
    .pb_passwordBoxText {font-size: 14px}

    .hhlTile1 .tileTitle {top:45%}/*original 16%*/
 	.category-product-items .product {height: 300px}

    /*homepage */
    .hlTopTile .tileTitle {top: 5%}
    .hlOasEveryday {margin-bottom: 10px}
    
     /*Homepage*/
    .saleTitle{top: 32%}
    
    /*Miscellaneous*/
    .oasTopTile .shopTxt {margin-top: 8px}
    .oasTopTile{top:24%}
    
    /*christmas landing page*/
    .giftTileText{top: 20%}
    
    /*christmas gift guide page*/
    .cgg_5 .tileTitle{top: 50%}
    .cggTileText{padding-top: 15px}
    
    /*Little Winter Sale - Homepage*/
    .littleWinterShopTxt{margin-top: 8px}
    .littleWinterTopTile{top: 24%}
    
    /*Little Winter Sale - Sale*/
    .littleWinterSaleBanner .tileTitleMid{top: 17%}
    .littleWinterSaleBannerTile a{display: block;padding-top: 0px;padding-bottom: 0px}
    .littleWinterSaleSub{display: none}
    
    /*Grand Winter Sale*/
    /*GWS Homepage*/
    .tileTitleMid.oasTopTile.gwsTile{top: 0%}
    span.shopTxt.gwsBtn{margin-top: 10px;font-size: 14px}
    .gwshlTile1 .tileTitleMid.oasTopTile.gwsTile{top: 0%;}
    
    /*GWS Women*/
    .lwsWtile1 div.lwsWtitle.tileTitle{top: 55%}
    
    /*GWS House and Home*/
    .lwsHHtile2 div.tileTitle{top: 62%}
    
    /*GWS Sale*/
    .littleWinterSaleBannerTile a{display: block;padding-top: 0px;padding-bottom: 0px;line-height: 28px;}
    .littleWinterSaleSub.gwsSaleSub{display: none}
    .littleWinterSaleSub{display: block}
    
    /*Pre Collection*/
    .pcHpTile1 a{margin-bottom: 0px;}
    .pcTile{padding-bottom:20px;}
    .pcHpTile2 .tileTitleMid{top:11%;}
    .pcHpTile2 h1{font-size: 22px;}
    .pcHpTile2 span{font-size: 18px;}
    .pcHpTile2 h1{margin-bottom: 0px;}
    .pcHpTile1 .tileTitleTop{top: 46%;}
    .pcHpTile2 .tileTitleMid h1{line-height: 36px; font-size: 18px;}
    .pcHpTile2 .tileTitleMid p{padding-bottom: 0px;margin-top: 0px;font-size: 16px;line-height: 20px;margin-bottom: 0px;}
    .pcHpTile2 .tileTitleMid span{top: -46px;font-size: 16px;}
    
    .stdSaleTile .tileTitleMid{top:11%;}
    .stdSaleTile h1{font-size: 22px;}
    .stdSaleTile span{font-size: 18px;}
    .stdSaleTile h1{margin-bottom: 0px;}
    .stdSaleTile .tileTitleMid h1{line-height: 36px; font-size: 18px;}
    .stdSaleTile .tileTitleMid p{padding-bottom: 0px;margin-top: 0px;font-size: 16px;line-height: 20px;margin-bottom: 0px;}
    .stdSaleTile .tileTitleMid span{top: -46px;font-size: 16px;}
    .hlTile1 a{margin: 6px;}
    .hlTile1 .tileTitleTop{top: 45.6%;}
    /*updated 2017 styles*/
    .wl_5 .saleSpan{margin-bottom: 0px;}
    .wl_5 .saleLink{line-height: 50px;}
}  

@media only screen and (max-width: 395px){

    /*archive sale page*/
    .archive h1{top:14%}
    .archiveSub{top: 38%}    
    .longDescTop{top: 36%}
    div.tileTitleMid.oasTopTile.otherGWS.littleWinterSaleBannerTile{top: 31%;line-height:34px;}
}
@media only screen and (max-width: 320px) 

{
 	.category-product-items .product {height: 250px}  
    
    /*Swatches Tom Dev*/
    .category-product-items .product{margin-bottom: 40%}
}